 <% unless @feed_items.empty? %>
  <table class="microposts" summary="User microposts">
   <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </table>
  <%= will_paginate @feed_items %>
<% end %>

<tr>
    <td class="micropost">
    <span class="user">
      <%= button_to feed_item.user.name, feed_item.user %>
    </span>

    <span class="content"><%= feed_item.content %></span>

    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item2.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>

