<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
   <%= csrf_meta_tags %>
   <%= render 'layouts/header' %>
   <%= javascript_include_tag :defaults %>


  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>

</head>
<body>
      <div class="container">
       <header>
       <%= image_tag("chatting.jpg", :alt => "Project1", :class => "round", :size => "100x100") %>
       </header>
      <section class="round">
         <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
       <%= yield %>
      </section>



      </div>


</body>
</html>
